body {
  height: 100%;
  background-color: #fc766a;
}
:root {
  --main-font: "Poppins", sans-serif;
}
.form-container {
  border-radius: 5px;
  padding: 20px;
  width: 50%;
  background-color: #fff;
  margin: auto;
  margin-top: 100px;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 600;
}
.form-button {
  width: 100%;
  background-color: #fc766a;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--main-font);
  font-size: 20px;
}
label {
  font-size: 18px;
  font-weight: 600;
}
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 500;
}
.quiz-container {
  margin: auto;
  text-align: center;
  margin-top: 200px;
  width: 1000px;
}
.quiz-container h2 {
  font-family: var(--main-font);
  font-size: 25px;
  font-weight: 500;
}
.quiz-button.ordinary {
  width: 40%;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--main-font);
  font-size: 20px;
  margin-right: 20px;
}
.quiz-button.green {
  width: 40%;
  background-color: green;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--main-font);
  font-size: 20px;
  margin-right: 20px;
}
.quiz-button.red {
  width: 40%;
  background-color: red;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--main-font);
  font-size: 20px;
  margin-right: 20px;
}
.end-game {
  text-align: center;
  margin-top: 300px;
}
